*{margin: 0; padding: 0; box-sizing: border-box;}
*::before, 
*::after{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol, li{list-style: none;}
a{text-decoration: none;}

.content{width: 100%; padding: 0}
.inner{width: 1176px; height: 100vh;  margin: 0 auto;}
.inner::after{content: ''; clear: both; display: block;}

.content .title{margin: 0 0 40px; font:bold 28px 'Black Han Sans'; text-align: center;}
.content .txt{margin: 0 0 60px; font: 14px 'Black Han Sans'}

#header{width:100%; height: auto; }
#visual{ display: block; width:100%;  }
#footer{ width:100%;  background-color: #333;}

/* .black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */

.bg-logo{width: 10%; top: 30px; right: 30px; position: absolute; z-index: 2;} 
.bg{width: 100%; height: 100pc; position: fixed; } 
/* .box01{ width: 300px; margin: 0 auto;  margin-top: 50px;} */

.box01{ float: left; position: relative; width: 100%;  display: block; margin: 0 auto; font-family: Black Han Sans;}
.box01 .title{ display: block; width: 100%;  margin: 0 auto; margin-top: 30px;  font-weight: 500; font-size: 90px; text-align: center;}
.box01 .subtitle{ display: inline-block; width: 100%;  margin: 0 auto; margin-top: 120px; font-weight: 100; font-size: 40px; text-align: center;}
.box01 .touch{  width: 300px; height: auto; padding-top: 50px; margin: 0 auto; text-align: center; }
.box01 .hand{ float: left;  display: block;  width: 30px; height: auto;}
.box01 .touch p { float: left; width: calc(100% - 30px); padding-top: 5px; font-weight: 100; font-size: 30px; }

.box02{ position: fixed; display: block; left: 0;  bottom: 0; width: 100%; height: 320px; background-color: #d11d4c;}
.box02 a{ display: block; margin: 0 auto; font: 35px 'Black Han Sans'; color: #ffffff;}
.box02 .info{ width: 450px; height: 150px; padding: 60px 130px; margin: 0 auto; margin-top: 80px; border: 1px solid #ffffff; border-radius: 300px;}
.box02 .hand{ float: left; display: block; width: 30px;  margin-right: 20px; height: auto;}


 /* a{  display: inline-block; font-size: 35px; font-family: Black Han Sans; text-decoration: none; color: #ffffff; text-align: center;} */



/* .bg-coloar{width: 100%; height: 100pc; background-color: #00000070; position: fixed; z-index: 1; } */



.box02 a:hover {
  background-color: #ffffff50;
  }

.box02 a:visited  {
    background-color : #000000
  }