<!-- templates/simple_button.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Button</title>
    <style>
        /* 간단한 스타일 추가 */
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
        button {
            font-size: 16px;
            padding: 10px 20px;
        }
    </style>
    <script>
        function onButtonClick() {
            alert('버튼이 클릭되었습니다!');
            // 여기에 추가 작업을 수행할 수 있습니다.
        }
    </script>
</head>
<body>
    <h1>버튼 클릭 테스트</h1>
    <button>
        <a href="{% url 'Ramen:test' %}">
        음성인식시작</button>





        </ul>

        <!-- <a href="#" class="action-btn">Get Started</a> -->

        <div class="toggle_btn">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
</body>
</html>
