body {
    font-family: 'Black Han Sans', Arial, sans-serif;
    /* 기본 글꼴을 Black Han Sans로 지정 */
    background-color: #f4f4f4;
    background-image: url(../img/raman-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.664);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    /* 화면이 좁을 때 폼이 넘치지 않도록 함 */
    box-sizing: border-box;
    /* 패딩을 포함하여 폭을 계산 */
}

.login-container h2 {
    text-align: center;
    margin-bottom: 25px;
    font: 35px 'Black Han Sans', Arial, sans-serif;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font: 20px 'Black Han Sans', Arial, sans-serif;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: 100%;
    max-width: 100%;
    /* 입력 필드가 부모 요소를 넘지 않도록 설정 */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* 패딩을 포함하여 폭을 계산 */
    font-family: 'Black Han Sans', Arial, sans-serif;
    /* 입력 필드에 Black Han Sans 적용 */
    background-color: rgba(255, 255, 255, 0.6);
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #1969fd86;
    border: none;
    border-radius: 4px;
    color: #00000088;
    /* font-weight: bold; */
    cursor: pointer;
    box-sizing: border-box;
    /* 패딩을 포함하여 폭을 계산 */
    font-size: 30px;
    /* 텍스트 크기 증가 */
    font-family: 'Black Han Sans', Arial, sans-serif;
    /* 버튼 텍스트에 Black Han Sans 적용 */
}

.messages {
    margin-bottom: 15px;
    color: red;
    text-align: center;
    font-family: 'Black Han Sans', Arial, sans-serif;
    /* 메시지에 Black Han Sans 적용 */
    font-size: 15px;
    font-weight: bold;

}