{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abiman | Dining-bot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style 05.css' %}">
</head>
<body>
    <header id="header"></header>
    <div class="page_btn"></div>
    <section id="visual" data-page-btn="Home">
        <img src="{% static '/img/ABIMAN-CI-white.png' %}" class="bg-logo" alt="">
        <img src="{% static '/img/raman-03.jpg' %}" class="bg" alt="">
        <div class="bg-box"></div>
    </section>
    <section id="type1" class="content" data-page-btn="Service">
        <div class="inner">
            <div class="box01">
                <img src="{% static '/img/end.png' %}" class="end" alt="">
            </div>
            <div class="box02">
                <div class="info">
                    <!-- URL 파라미터에서 수량 값을 가져와서 표시 -->
                    <p class="btn" id="displayCount">0</p>
                </div>
            </div>
        </div>
    </section>

    <!-- JavaScript 파일에서 사용할 URL을 HTML 속성에 전달 -->
    <script>
        var redirectUrl = "{% url 'Ramen:index' %}";
    </script>
    <script src="{% static 'js/display_count.js' %}"></script>
</body>
</html>
